<div class="container-fluid">
  <a [routerLink]="'/'">Back to Site ...</a>
  <div class="row">
    <h1>Modern Slavery Policy</h1>
  </div>
  <p>
    <b><span> 1. Summary / Background</span></b>
  </p>
  <p>
    <span
      >Neurodiversity in Business (NiB) is an industry group aiming to transform
      understanding, acceptance, and support of neurodiversity in the corporate
      world. </span
    ><span>NiB's mission is to help develop a more inclusive workplace.</span
    ><span></span>
  </p>
  <p>
    <b><span>2. NiB's Statement on Anti-Slavery and Human Trafficking</span></b>
  </p>
  <p>
    <span
      >This statement is made pursuant to section 54 (Part 6) of the Modern
      Slavery Act 2015.</span
    >
    <span
      >NiB is committed that we do not collaborate with any organization or use
      within our supply chain any organization or party who contributes to or
      participates in, modern slavery or human trafficking.</span
    >
  </p>
  <p>
    <b><span>3. Due Diligence</span></b>
  </p>
  <p>
    <span
      >Our policy applies to any functional business process. Our stance on
      anti-slavery and human trafficking reflects our commitment to acting
      ethically and with integrity in all of our business relationships.</span
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":259}'
    ></span>
  </p>
  <p>
    <span
      >We risk assessing all third parties and suppliers before entering any
      form of arrangement with them to ensure that they are able to conform to
      this policy and other relevant policies to the work that they undertake
      for or in partnership with us. </span
    ><span
      >We are committed to continually enhancing our ability to identify,
      prevent and mitigate any actual or potential risks with our partners and
      suppliers.</span
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":259}'
    ></span>
  </p>
  <p>
    <span
      >We are committed to ensuring that anyone who acts on our behalf and those
      in decision-making positions can understand how to identify modern slavery
      and to ensure that through our actions we maintain our zero-tolerance of
      it.</span
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":259}'
    ></span>
  </p>
  <p>
    <span
      >We utilize the skills of risk management professionals to complete risk
      assessments on prospective partners and suppliers, thereby assuring our
      approved suppliers.</span
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":259}'
    ></span>
  </p>
  <p>
    <span>Outcomes of note are escalated immediately to the CEO.</span
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":259}'
    ></span>
  </p>
  <p>
    <b><span>4. Structure of NiB Organization</span></b>
  </p>
  <p>
    <b><span>4.1. NiB Senior Management</span></b
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":276}'
    ></span>
  </p>
  <p>
    <span
      >Our Executive Board manages the daily operations of NiB, guided by a
      Co-Production Board and Advisory Board. Visit our website to know more </span
    ><a href="https://neurodiversityinbusiness.org/"
      ><span>Neurodiversity in Business</span></a
    ><span></span
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":276}'
    ></span>
  </p>
  <p>
    <b
      ><span
        >4.2 NiB Governance – Co-Production Board and Advisory Board</span
      ></b
    ><span
      data-ccp-props='{"201341983":0,"335551550":6,"335551620":6,"335559739":160,"335559740":276}'
    ></span>
  </p>
  <p>
    <b><span>The Co-production board</span></b
    ><span>
      works as a steering committee and governing body for NiB. It is
      fundamental to our values of ensuring that neurodivergent people lead the
      development of our strategy and the implementation of our practices.</span
    ><span
      data-ccp-props='{"201341983":0,"335559739":160,"335559740":259}'
    ></span>
  </p>
  <p>
    <b><span>The Advisory Board</span></b
    ><span
      > is a self-managed board of Neurodiversity subject matter experts invited
      by the NiB Executive with advice from the Co-Production board to support
      NiB's activities and to provide deep subject matter expertise</span
    ><span></span>
  </p>
</div>
