<footer>
  <div class="row footerContent">
    <div class="col">
      <p>
        <a (click)="sendCloseEventToLanding()" [routerLink]="'cookie'"
          >Cookie Policy</a
        >
      </p>
    </div>
    <div class="col">
      <p>
        <a (click)="sendCloseEventToLanding()" [routerLink]="'privacy'"
          >Privacy Policy</a
        >
      </p>
    </div>
    <div class="col">
      <p>
        <a (click)="sendCloseEventToLanding()" [routerLink]="'slavery'"
          >Modern Slavery Policy</a
        >
      </p>
    </div>
  </div>
  <p class="bottomText">
    Neurodiversity in Business is a registered Charitable Incorporated
    Organisation (CIO) in England and Wales, registered charity number
    <a
      target="_blank"
      href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5190961"
      >1198291</a
    >
  </p>
</footer>
