<footer>
  <div class="row footerContent">
    <div class="col">
      <p>
        <a (click)="sendCloseEventToLanding()" [routerLink]="'cookie'"
          >Cookie Policy</a
        >
      </p>
    </div>
    <div class="col">
      <p>
        <a (click)="sendCloseEventToLanding()" [routerLink]="'privacy'"
          >Privacy Policy</a
        >
      </p>
    </div>
    <div class="col">
      <p>
        <a (click)="sendCloseEventToLanding()" [routerLink]="'slavery'"
          >Modern Slavery Policy</a
        >
      </p>
    </div>
  </div>
  <div class ="row">
    <p class="bottomText">
      Neurodiversity in Business is a registered Charitable Incorporated
      Organisation (CIO) in England and Wales, registered charity number
      <a
        target="_blank"
        href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5190961"
        >1198291</a
      >
    </p>
  </div>
  <div class="col">
    <span>
      <a
        href="https://twitter.com/NDinBusiness"
        target="_blank"
        title="Twitter"
      >
        <i class="fab fa-twitter fa-2x"></i>
      </a>
    </span>
    <span>
      <a
        href="https://www.linkedin.com/company/80093288"
        target="_blank"
        title="LinkedIn"
      >
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </span>
    <span>
      <a
        href="https://www.youtube.com/channel/UCk0YOpwyHt8IoJMNmOUHy1g"
        target="_blank"
        title="Youtube"
      >
        <i class="fab fa-youtube fa-2x"></i>
      </a>
    </span>
    <span>
      <a
        href="https://www.instagram.com/ndinbusiness/"
        target="_blank"
        title="Instagram"
      >
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </span>
  </div>
 
</footer>
