footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: aliceblue;
  text-align: center;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.bottomText {
  text-align: center;
  position: relative;
  bottom: 0;
}
