h1,
h2 {
  font-family: "Montserrat", Sans-serif;
  font-weight: bold;
  background: #07a797;
  color: white;
  font-style: bold;
  text-align: left;
  padding: 40px;
}

h3 {
  text-align: center;
}

.blurbs {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
