<div class="container-fluid">
  <div class="row">
    <h1 id="pageHeader">About Us</h1>
  </div>
  <p>
    NiB is a business-led forum functioning as an industry group for
    organisations to share industry good practice on ND recruitment, retention
    and empowerment. The vision is to foster a corporate environment where
    neurodivergent people are understood and form an invaluable part of the work
    culture. We will achieve this by creating a best-practice business community
    to share indispensable insight for:
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3>Employers</h3>
        <p>
          Create awareness as to the benefits and strengths of neurodiversity in
          the workplace.
        </p>
      </div>
      <div class="col">
        <h3>The Neurodivergent</h3>
        <p>
          Empowerment, recognition, help and guidance to navigate a successful,
          happy and independent career path.
        </p>
      </div>
      <div class="col">
        <h3>The Neurotypical</h3>
        <p>
          To have a better understanding and facilitate allyship and respect
          with neurodivergent colleagues.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h2 id="pageHeader">Our Values & Mission</h2>
  </div>
  <p>
    Our values are to ensure that the view of neurodivergent people are central
    to everything we do. By fostering collaboration we can develop and share
    best-practice for the benefit of all.
  </p>

  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Educate</h5>
          <p class="card-text">
            Raise acceptance of Neurodivergent people in companies, what
            neurodiversity is and how neurodivergent people contribute to the
            employee mix.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Demonstrate</h5>
          <p class="card-text">
            Show how companies benefit from being Neuroinclusive, show both
            social and economic aspects. Present what benefits come from
            unlocking and including neurodivergent talent.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Celebrate</h5>
          <p class="card-text">
            Celebrating Neurodiversity and the contribution it brings to create
            an environment where Neurodivergent people feel comfortable
            disclosing and speaking up.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Empower</h5>
          <p class="card-text">
            Supporting neurodivergent individuals and guiding them in their
            professional life, helping them navigate worthwhile, independent and
            fulfilling careers.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

<div class="container-fluid">
  <span class="blurbs">
    <div class="row">
      <h2>Why focus on Neurodiversity?</h2>
    </div>
    <div class="row">
      <div class="col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="86"
          height="86"
          fill="currentColor"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
        </svg>
        <p>Only 16% of autistic adults are in full time paid employment</p>
        <p>(National Autistic Society)</p>
      </div>
      <div class="col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="86"
          height="86"
          fill="currentColor"
          class="bi bi-building"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"
          />
          <path
            d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"
          />
        </svg>
        <p>Only 1 in 10 organisations are focusing on neurodiversity at work</p>
        <p>(CIPD Poll 2018)</p>
      </div>
      <div class="col">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="86"
          height="86"
          fill="currentColor"
          class="bi bi-file-earmark-excel-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"
          />
        </svg>

        <p>
          45% of people have lost or left their job because of challenges caused
          by autism
        </p>
        <p>(National Autistic Society)</p>
      </div>
    </div>
  </span>
  <div class="row">
    <p>
      Neurodiversity describes the amazing variety in human neurology, thinking,
      communication styles and expression. Those typically excluded are a wide
      spectrum of neurodivergent conditions, characteristics and expression
      including conditions such as Autism Spectrum Condition, Attention Deficit
      Hyperactivity Disorder, Dyslexia, Dyscalculia, Developmental Language
      Disorder, and Dyspraxia. 15-20% of the world population is Neurodivergent
      (rising sharply in STEM tertiary education).
    </p>
    <p>
      By embracing Neurodiversity and the contributions every kind of mind can
      make businesses unleash long term potential benefits that enable their
      teams and their people to make an impact that matters.
    </p>
  </div>
  <div class="row">
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem [collapsed]="true">
        <h3 ngbAccordionHeader>
          <button ngbAccordionButton>Business Drivers</button>
        </h3>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <ul>
                <li>
                  Economic - Diversity of thought is critical to an innovative
                  workforce, the neurodivergent represent a spectrum of
                  different styles of thinking contributing to this.
                </li>
                <li>
                  Sustainability - Provides access to hidden talent pools and
                  reduces talent turnover.
                </li>
                <li>
                  Legal - Neurodivergent characteristics are protected by the
                  Equality Act.
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem [collapsed]="true">
        <h3 ngbAccordionHeader>
          <button ngbAccordionButton>Societal Impact Factors</button>
        </h3>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <ul>
                <li>
                  Moral - Empowering diversity is simply the right thing to do.
                </li>
                <li>
                  Social - Social responsibility and making an impact in the
                  community is increasingly critical to a business’ brand.
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem [collapsed]="true">
        <h3 ngbAccordionHeader>
          <button ngbAccordionButton>The Strengths</button>
        </h3>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                Neurodivergent diagnoses do not impact intelligence and
                innovative thinking, self-starting motivation, attention to
                detail and resilience are often overrepresented in these
                different thinkers.
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem [collapsed]="true">
        <h3 ngbAccordionHeader>
          <button ngbAccordionButton>Other Diversity & Inclusion</button>
        </h3>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <ul>
                <li>
                  <span
                    >Acceptance and inclusion for Neurodiversity strongly
                    correlates with employee well-being and mental health.</span
                  >
                </li>
                <li>
                  <span
                    >Exclusion of the Neurodivergent is observed to exacerbate
                    other areas of exclusion, with Neurodivergent Women, LGBTQ+
                    Neurodivergent People or Neurodivergent people who belong to
                    ethnic minorities facing complex challenges to recognition
                    and inclusion.</span
                  >
                </li>
                <li>
                  Please visit
                  <a
                    href="http://neurodiversity.net/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >neurodiversity.net</a
                  >
                  for content originally hosted on neurodiversity.com
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
