<div class="container-fluid">
  <a [routerLink]="'/'">Back to Site ...</a>
  <div class="row">
    <h1>Cookie Policy</h1>
  </div>

  <h2>About this cookie policy</h2>
  <p>
    This Cookie Policy explains what cookies are and how we use them, the types
    of cookies we use i.e, the information we collect using cookies and how that
    information is used, and how to control the cookie preferences. For further
    information on how we use, store, and keep your personal data secure, see
    our Privacy Policy.
  </p>
  <p>
    You can at any time change or withdraw your consent from the Cookie
    Declaration on our website Learn more about who we are, how you can contact
    us, and how we process personal data in our Privacy Policy. Your consent
    applies to the following domains: neurodiversityinbusiness.org
  </p>
  <p>current state: Consent accepted. Manage your consent.</p>
  <h2>What are cookies?</h2>
  <p>
    Cookies are small text files that are used to store small pieces of
    information. They are stored on your device when the website is loaded on
    your browser. These cookies help us make the website function properly, make
    it more secure, provide better user experience, and understand how the
    website performs and to analyze what works and where it needs improvement.
  </p>
  <h2>How do we use cookies?</h2>
  <p>
    As most of the online services, our website uses first-party and third-party
    cookies for several purposes. First-party cookies are mostly necessary for
    the website to function the right way, and they do not collect any of your
    personally identifiable data.
  </p>
  <p>
    The third-party cookies used on our website are mainly for understanding how
    the website performs, how you interact with our website, keeping our
    services secure, providing advertisements that are relevant to you, and all
    in all providing you with a better and improved user experience and help
    speed up your future interactions with our website.
  </p>
  <h2>What types of cookies do we use?</h2>
  <p>
    Essential: Some cookies are essential for you to be able to experience the
    full functionality of our site. They allow us to maintain user sessions and
    prevent any security threats. They do not collect or store any personal
    information. For example, these cookies allow you to log-in to your account
    and add products to your basket, and checkout securely.
  </p>
  <p>
    Statistics: These cookies store information like the number of visitors to
    the website, the number of unique visitors, which pages of the website have
    been visited, the source of the visit, etc. These data help us understand
    and analyze how well the website performs and where it needs improvement.
  </p>
  <p>
    Marketing: Our website displays advertisements. These cookies are used to
    personalize the advertisements that we show to you so that they are
    meaningful to you. These cookies also help us keep track of the efficiency
    of these ad campaigns. The information stored in these cookies may also be
    used by the third-party ad providers to show you ads on other websites on
    the browser as well.
  </p>
  <p>
    Functional: TThese are the cookies that help certain non-essential
    functionalities on our website. These functionalities include embedding
    content like videos or sharing content of the website on social media
    platforms.
  </p>
  <p>
    Preferences: These cookies help us store your settings and browsing
    preferences like language preferences so that you have a better and
    efficient experience on future visits to the website.
  </p>
  <p>The below list details the cookies used in our website.</p>

  <table class="minimalistBlack">
    <thead>
      <tr>
        <th>Cookie</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_ga</td>
        <td>
          The _ga cookie, installed by Google Analytics, calculates visitor,
          session and campaign data and also keeps track of site usage for the
          site’s analytics report. The cookie stores information anonymously and
          assigns a randomly generated number to recognize unique visitors.
        </td>
      </tr>
      <tr>
        <td>_ga_6MXK8ZP657</td>
        <td>This cookie is installed by Google Analytics.</td>
      </tr>
      <tr>
        <td>_ga_LTZBKJPLSS</td>
        <td>This cookie is installed by Google Analytics.</td>
      </tr>
      <tr>
        <td>CONSENT</td>
        <td>
          YouTube sets this cookie via embedded youtube-videos and registers
          anonymous statistical data.
        </td>
      </tr>
      <tr>
        <td>checkbox-advertisement</td>
        <td>
          Set by the GDPR Cookie Consent plugin, this cookie is used to record
          the user consent for the cookies in the “Advertisement” category .
        </td>
      </tr>
      <tr>
        <td>checkbox-analytics</td>
        <td>
          This cookie is set by GDPR Cookie Consent plugin. The cookie is used
          to store the user consent for the cookies in the category “Analytics”.
        </td>
      </tr>
      <tr>
        <td>checkbox-functional</td>
        <td>
          The cookie is set by GDPR cookie consent to record the user consent
          for the cookies in the category “Functional”.
        </td>
      </tr>
      <tr>
        <td>checkbox-necessary</td>
        <td>
          This cookie is set by GDPR Cookie Consent plugin. The cookies is used
          to store the user consent for the cookies in the category “Necessary”.
        </td>
      </tr>
      <tr>
        <td>checkbox-others</td>
        <td>
          This cookie is set by GDPR Cookie Consent plugin. The cookie is used
          to store the user consent for the cookies in the category “Other.
        </td>
      </tr>
      <tr>
        <td>checkbox-performance</td>
        <td>
          This cookie is set by GDPR Cookie Consent plugin. The cookie is used
          to store the user consent for the cookies in the category
          “Performance”.
        </td>
      </tr>
      <tr>
        <td>CookieLawInfoConsent</td>
        <td>
          Records the default button state of the corresponding category &amp;
          the status of CCPA. It works only in coordination with the primary
          cookie.
        </td>
      </tr>
      <tr>
        <td>elementor</td>
        <td>
          This cookie is used by the website’s WordPress theme. It allows the
          website owner to implement or change the website’s content in
          real-time.
        </td>
      </tr>
      <tr>
        <td>viewed_cookie_policy</td>
        <td>
          The cookie is set by the GDPR Cookie Consent plugin and is used to
          store whether or not user has consented to the use of cookies. It does
          not store any personal data.
        </td>
      </tr>
      <tr>
        <td>VISITOR_INFO1_LIVE</td>
        <td>
          A cookie set by YouTube to measure bandwidth that determines whether
          the user gets the new or old player interface.
        </td>
      </tr>
      <tr>
        <td>YSC</td>
        <td>
          YSC cookie is set by Youtube and is used to track the views of
          embedded videos on Youtube pages.
        </td>
      </tr>
      <tr>
        <td>yt-remote-connected-devices</td>
        <td>
          YouTube sets this cookie to store the video preferences of the user
          using embedded YouTube video.
        </td>
      </tr>
      <tr>
        <td>yt-remote-device-id</td>
        <td>
          YouTube sets this cookie to store the video preferences of the user
          using embedded YouTube video.
        </td>
      </tr>
      <tr>
        <td>yt.innertube::nextId</td>
        <td>
          This cookie, set by YouTube, registers a unique ID to store data on
          what videos from YouTube the user has seen.
        </td>
      </tr>
      <tr>
        <td>yt.innertube::requests</td>
        <td>
          This cookie, set by YouTube, registers a unique ID to store data on
          what videos from YouTube the user has seen.
        </td>
      </tr>
    </tbody>
  </table>

  <h2>How can I control the cookie preferences?</h2>
  <p>
    Should you decide to change your preferences later through your browsing
    session, you can click on the “Cookie Policy” tab on your screen. This will
    display the consent notice again enabling you to change your preferences or
    withdraw your consent entirely.
  </p>
  <p>
    In addition to this, different browsers provide different methods to block
    and delete cookies used by websites. You can change the settings of your
    browser to block/delete the cookies. To find out more about how to manage
    and delete cookies, visit wikipedia.org, www.allaboutcookies.org.
  </p>
</div>
