<!--Jotform Company Membership Signup below-->
<script
  src="https://cdn02.jotfor.ms/static/prototype.forms.js?3.3.43824"
  type="text/javascript"
></script>
<script
  src="https://cdn03.jotfor.ms/static/jotform.forms.js?3.3.43824"
  type="text/javascript"
></script>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"
></script>
<script src="https://cdn01.jotfor.ms//js/pen/toMarkdown.js?v=3.3.43824"></script>
<script src="https://cdn02.jotfor.ms//js/pen/showdown.js?v=3.3.43824"></script>
<script
  src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.43824"
  type="text/javascript"
></script>
<script
  src="https://www.jotform.com/static/encryptedForms.js?3.3.43824"
  type="text/javascript"
></script>
<script
  src="https://cdn01.jotfor.ms/s/umd/c4e53d33def/for-form-encryption.js?v=3.3.43824"
  type="text/javascript"
></script>
<script
  src="https://cdn01.jotfor.ms/s/umd/c4e53d33def/for-form-branding-footer.js?v=3.3.43824"
  type="text/javascript"
  defer
></script>
<script type="text/javascript">
  JotForm.newDefaultTheme = true;
  JotForm.extendsNewTheme = false;
  JotForm.singleProduct = false;
  JotForm.newPaymentUIForNewCreatedForms = true;
  JotForm.newPaymentUI = true;
  JotForm.clearFieldOnHide = "disable";
  JotForm.submitError = "jumpToFirstError";
  JotForm.encryptionProtocol = "JF-CSE-V2";
  JotForm.isEncrypted = true;
  JotForm.encryptionPublicKey =
    "-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAniL8E/mCml66KS/G4zy66kifriB+HTJLOp4/iB5yGfoqFVEpC+9tvjnEcWstl4E/CjM10xTH+XhDf8wmWeaGOMc4I20YAFd+qjwoUXq2lbYX4dDjL7UtNyYa9dtRuzO50+Yyignd/WlZTB5DxPE9jSngTCH3PTA/LIUMNT2/sSnBaQiYD+TPDuxNvc2MijNpexoZWn5j6MxLx92e3PD1K0xh1Ypk0eeJGcPCxeuExcrl429rjlkTQh58RPkH4CNmSBGel08DrwiFlXrXNbyboWg9R2LUC2fwKF9EktQYRtfQVNZzc1zPaRbZjBl16E+3FHx6nHuz1xnhS7yKJ2yQvwIDAQAB-----END PUBLIC KEY-----";
  JotForm.setFieldsToPreserve([]);
  window.addEventListener("DOMContentLoaded", function () {
    window.brandingFooter.init({
      formID: 232048333043345,
      campaign: "powered_by_jotform_le",
      isCardForm: false,
      isSmartPDFForm: false,
    });
  });
  JotForm.init(function () {
    /*INIT-START*/
    JotForm.description(
      "input_1",
      "Please provide your full name, first and last."
    );
    $("input_2_confirm").hint("example@example.com");
    $$("#input_2_confirm")[0].setAttribute("onPaste", "return false;");
    JotForm.description(
      "input_2",
      "Please provide a valid email address we can contact you back with."
    );
    if (window.JotForm && JotForm.accessible)
      $("input_6").setAttribute("tabindex", 0);
    if (window.JotForm && JotForm.accessible)
      $("input_3").setAttribute("tabindex", 0);
    JotForm.description(
      "input_3",
      "Please provide your reasoning and any references."
    );
    JotForm.alterTexts({ startButtonText: "START" });
    JotEncrypted.setPublicKey(
      "-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAniL8E/mCml66KS/G4zy66kifriB+HTJLOp4/iB5yGfoqFVEpC+9tvjnEcWstl4E/CjM10xTH+XhDf8wmWeaGOMc4I20YAFd+qjwoUXq2lbYX4dDjL7UtNyYa9dtRuzO50+Yyignd/WlZTB5DxPE9jSngTCH3PTA/LIUMNT2/sSnBaQiYD+TPDuxNvc2MijNpexoZWn5j6MxLx92e3PD1K0xh1Ypk0eeJGcPCxeuExcrl429rjlkTQh58RPkH4CNmSBGel08DrwiFlXrXNbyboWg9R2LUC2fwKF9EktQYRtfQVNZzc1zPaRbZjBl16E+3FHx6nHuz1xnhS7yKJ2yQvwIDAQAB-----END PUBLIC KEY-----"
    );
    /*INIT-END*/
  });

  setTimeout(function () {
    JotForm.paymentExtrasOnTheFly([
      null,
      {
        description: "Please provide your full name, first and last.",
        name: "name",
        qid: "1",
        text: "Name",
        type: "control_fullname",
      },
      {
        description:
          "Please provide a valid email address we can contact you back with.",
        name: "email",
        qid: "2",
        subLabel: "example@example.com",
        text: "Email",
        type: "control_email",
      },
      {
        description: "Please provide your reasoning and any references.",
        name: "tellUs",
        qid: "3",
        subLabel: "",
        text: "Tell us why you'd like to join NiB",
        type: "control_textarea",
      },
      null,
      { name: "submit", qid: "5", text: "Submit", type: "control_button" },
      {
        description: "",
        name: "organizationName",
        qid: "6",
        subLabel:
          "Please tell us the name of your company\u002Fcorporation\u002Forganization.",
        text: "Organization Name",
        type: "control_textbox",
      },
    ]);
  }, 20);
</script>
<style type="text/css">
  @media print {
    .form-section {
      display: inline !important;
    }
    .form-pagebreak {
      display: none !important;
    }
    .form-section-closed {
      height: auto !important;
    }
    .page-section {
      position: initial !important;
    }
  }
</style>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.43824"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.43824"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.43824"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn01.jotfor.ms/stylebuilder/donationBox.css?v=3.3.43824"
/>
<style type="text/css" id="form-designer-style">
  /* Injected CSS Code */
  /*PREFERENCES STYLE*/
  .form-all {
    font-family: Inter, sans-serif;
  }

  .form-label.form-label-auto {
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  }

  .form-line {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-all {
    max-width: 752px;
    width: 100%;
  }

  .form-label.form-label-left,
  .form-label.form-label-right,
  .form-label.form-label-left.form-label-auto,
  .form-label.form-label-right.form-label-auto {
    width: 230px;
  }

  .form-all {
    font-size: 16px;
  }

  .supernova .form-all,
  .form-all {
    background-color: #fff;
  }

  .form-all {
    color: #2c3345;
  }
  .form-header-group .form-header {
    color: #2c3345;
  }
  .form-header-group .form-subHeader {
    color: #2c3345;
  }
  .form-label-top,
  .form-label-left,
  .form-label-right,
  .form-html,
  .form-checkbox-item label,
  .form-radio-item label,
  span.FITB .qb-checkbox-label,
  span.FITB .qb-radiobox-label,
  span.FITB .form-radio label,
  span.FITB .form-checkbox label,
  [data-blotid][data-type="checkbox"] [data-labelid],
  [data-blotid][data-type="radiobox"] [data-labelid],
  span.FITB-inptCont[data-type="checkbox"] label,
  span.FITB-inptCont[data-type="radiobox"] label {
    color: #2c3345;
  }
  .form-sub-label {
    color: #464d5f;
  }

  .supernova {
    background-color: undefined;
  }
  .supernova body {
    background: transparent;
  }

  .form-textbox,
  .form-textarea,
  .form-dropdown,
  .form-radio-other-input,
  .form-checkbox-other-input,
  .form-captcha input,
  .form-spinner input {
    background-color: undefined;
  }

  .supernova {
    background-image: none;
  }
  #stage {
    background-image: none;
  }

  .form-all {
    background-image: none;
  }
  .form-all:before {
    content: none;
  }
  .form-all {
    margin-top: 72px;
  } /*PREFERENCES STYLE*/ /*__INSPECT_SEPERATOR__*/
  /* Injected CSS Code */
</style>

<form
  class="jotform-form"
  action="https://eu-submit.jotform.com/submit/232048333043345"
  method="post"
  name="form_232048333043345"
  id="232048333043345"
  accept-charset="utf-8"
  autocomplete="on"
>
  <input type="hidden" name="formID" value="232048333043345" /><input
    type="hidden"
    id="JWTContainer"
    value=""
  /><input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all form-encrypted">
    <ul class="form-section page-section">
      <li class="form-line jf-required" data-type="control_fullname" id="id_1">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_1"
          for="first_1"
        >
          Name<span class="form-required">*</span>
        </label>
        <div id="cid_1" class="form-input-wide jf-required" data-layout="full">
          <div data-wrapper-react="true">
            <span
              class="form-sub-label-container"
              style="vertical-align: top"
              data-input-type="first"
              ><input
                type="text"
                id="first_1"
                name="q1_name[first]"
                class="form-textbox validate[required]"
                data-defaultvalue=""
                autoComplete="section-input_1 given-name"
                size="10"
                value=""
                data-component="first"
                aria-labelledby="label_1 sublabel_1_first"
                required=""
              /><label
                class="form-sub-label"
                for="first_1"
                id="sublabel_1_first"
                style="min-height: 13px"
                aria-hidden="false"
                >First Name</label
              ></span
            ><span
              class="form-sub-label-container"
              style="vertical-align: top"
              data-input-type="last"
              ><input
                type="text"
                id="last_1"
                name="q1_name[last]"
                class="form-textbox validate[required]"
                data-defaultvalue=""
                autoComplete="section-input_1 family-name"
                size="15"
                value=""
                data-component="last"
                aria-labelledby="label_1 sublabel_1_last"
                required=""
              /><label
                class="form-sub-label"
                for="last_1"
                id="sublabel_1_last"
                style="min-height: 13px"
                aria-hidden="false"
                >Last Name</label
              ></span
            >
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_2">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_2"
          for="input_2"
        >
          Email<span class="form-required">*</span>
        </label>
        <div id="cid_2" class="form-input-wide jf-required" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align: top"
            ><input
              type="email"
              id="input_2"
              name="q2_email"
              class="form-textbox validate[required, Email]"
              data-defaultvalue=""
              style="width: 310px"
              size="310"
              value=""
              data-component="email"
              aria-labelledby="label_2 sublabel_input_2"
              required=""
            /><br /><label
              class="form-sub-label"
              style="
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
                white-space: nowrap;
              "
              for="input_2_confirm"
              >Confirmation Email</label
            ><input
              type="email"
              id="input_2_confirm"
              name="q2_email"
              class="form-textbox validate[required, Email, Email_Confirm]"
              data-defaultvalue=""
              style="margin-top: 8px; width: 310px"
              size="310"
              value=""
              placeholder="example@example.com"
              data-component="emailConfirmation"
            /><label
              class="form-sub-label"
              for="input_2"
              id="sublabel_input_2"
              style="min-height: 13px"
              aria-hidden="false"
              >example@example.com</label
            ></span
          >
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_6">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_6"
          for="input_6"
        >
          Organization Name
        </label>
        <div id="cid_6" class="form-input-wide" data-layout="half">
          <span class="form-sub-label-container" style="vertical-align: top"
            ><input
              type="text"
              id="input_6"
              name="q6_organizationName"
              data-type="input-textbox"
              class="form-textbox"
              data-defaultvalue=""
              style="width: 310px"
              size="310"
              value=""
              data-component="textbox"
              aria-labelledby="label_6 sublabel_input_6"
            /><label
              class="form-sub-label"
              for="input_6"
              id="sublabel_input_6"
              style="min-height: 13px"
              aria-hidden="false"
              >Please tell us the name of your
              company/corporation/organization.</label
            ></span
          >
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textarea" id="id_3">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_3"
          for="input_3"
        >
          Tell us why you'd like to join NiB<span class="form-required">*</span>
        </label>
        <div id="cid_3" class="form-input-wide jf-required" data-layout="full">
          <div class="form-textarea-limit">
            <span>
              <textarea
                id="input_3"
                class="form-textarea validate[required]"
                name="q3_tellUs"
                style="width: 648px; height: 163px"
                data-component="textarea"
                required=""
                aria-labelledby="label_3"
              ></textarea>
              <div class="form-textarea-limit-indicator">
                <span
                  data-limit="1000"
                  type="Words"
                  data-minimum="-1"
                  data-typeminimum="Words"
                  id="input_3-limit"
                  >0/1000</span
                >
              </div>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_5">
        <div id="cid_5" class="form-input-wide" data-layout="full">
          <div
            data-align="auto"
            class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField"
          >
            <button
              id="input_5"
              type="submit"
              class="form-submit-button submit-button jf-form-buttons jsTest-submitField"
              data-component="button"
              data-content="This form is encrypted"
            >
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display: none">
        Should be Empty: <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script>
  <input
    type="hidden"
    class="simple_spc"
    id="simple_spc"
    name="simple_spc"
    value="232048333043345"
  />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll(
      "form[id='232048333043345'] .si" + "mple" + "_spc"
    );
    for (var i = 0; i < all_spc.length; i++) {
      all_spc[i].value = "232048333043345-232048333043345";
    }
  </script>
</form>
<script type="text/javascript">
  JotForm.ownerView = true;
</script>
<script type="text/javascript">
  JotForm.forwardToEu = true;
</script>
<script type="text/javascript">
  JotForm.isNewSACL = true;
</script>
