<ul id="navbar" ngbNav #nav="ngbNav" [(activeId)]="navActiveId" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button id="homeButton" ngbNavLink>Home</button>
    <ng-template ngbNavContent>
      <app-home></app-home>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button  id="aboutButton" ngbNavLink>About Us</button>
    <ng-template ngbNavContent> <app-about></app-about></ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button id="memberButton" ngbNavLink>Become A Member</button>
    <ng-template ngbNavContent>
      <app-member-start></app-member-start
    ></ng-template>
  </li>
  <li [ngbNavItem]="4">
    <button id="researchButton" ngbNavLink>Research</button>
    <ng-template ngbNavContent> <app-research></app-research></ng-template>
  </li>
  <li [ngbNavItem]="5">
    <button id="volunteerButton" ngbNavLink>Volunteer With Us</button>
    <ng-template ngbNavContent>
      <app-volunteer-start></app-volunteer-start
    ></ng-template>
  </li>
  <li id="resourceButton" [ngbNavItem]="6">
    <button ngbNavLink>ND Resource Hub</button>
    <ng-template ngbNavContent> <app-hub></app-hub></ng-template>
  </li>
  <li id="contactButton" [ngbNavItem]="7">
    <button ngbNavLink>Contact Us</button>
    <ng-template ngbNavContent> <app-contact-us></app-contact-us></ng-template>
  </li>
  
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<app-footer> </app-footer>
