<span class="accessibility-tools">
  <a
    #skipLink
    id="skipLink"
    href="#pageHeader"
    class="skip-to-main-content-link"
    >Skip to main content</a
  >
</span>

<span *ngIf="isContentShown">
  <nav class="navbar navbar-light bg-light mb-3 navigation">
    <div class="container-fluid">
      <span *ngIf="isMobileLayout" class="col-sm-3">
        <img
          style="width: 100px"
          class="logo"
          src="../assets/logo.png"
          alt="Neurodiversity in Buisness Logo"
        />
      </span>

      <div *ngIf="!isMobileLayout" class="col-sm-3">
        <img
          class="logo"
          src="../assets/logo.png"
          alt="Neurodiversity in Buisness Logo"
        />
      </div>
      <div class="col" style="text-align: right">
        <div [(ngbCollapse)]="isMenuCollapsed" class="collapse navbar-collapse">
          <ul
            [keyboard]="true"
            ngbNav
            [(ngbCollapse)]="isMenuCollapsed"
            #nav="ngbNav"
            [(activeId)]="navActiveId"
            class="nav"
          >
            <li [ngbNavItem]="1">
              <button #homeButton id="homeButton" ngbNavLink>Home</button>
              <ng-template ngbNavContent> <app-home></app-home></ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button id="aboutButton" ngbNavLink>About Us</button>
              <ng-template ngbNavContent> <app-about></app-about></ng-template>
            </li>
            <li [ngbNavItem]="3">
              <button id="memberButton" ngbNavLink>Become A Member</button>
              <ng-template ngbNavContent>
                <app-member-start></app-member-start
              ></ng-template>
            </li>
            <li [ngbNavItem]="4">
              <button
                onClick="location.href='https://neurodiversityinbusiness.org/research/'"
                id="researchButton"
                ngbNavLink
              >
                Research
              </button>
              <ng-template ngbNavContent>
                <app-research></app-research
              ></ng-template>
            </li>
            <li [ngbNavItem]="5">
              <button
                onClick="location.href='https://neurodiversityinbusiness.org/join-us/'"
                id="volunteerButton"
                ngbNavLink
              >
                Volunteer With Us
              </button>
              <ng-template ngbNavContent>
                <app-volunteer-start></app-volunteer-start
              ></ng-template>
            </li>
            <li [ngbNavItem]="6">
              <button
                onClick="location.href='https://neurodiversityinbusiness.org/ndresourcehub/'"
                id="hubButton"
                ngbNavLink
              >
                ND Resource Hub
              </button>
              <ng-template ngbNavContent> <app-hub></app-hub></ng-template>
            </li>
            <li [ngbNavItem]="7">
              <button
                onClick="location.href='https://neurodiversityinbusiness.org/contact-us/'"
                id="contactButton"
                ngbNavLink
              >
                Contact Us
              </button>
              <ng-template ngbNavContent>
                <app-contact-us></app-contact-us
              ></ng-template>
            </li>
          </ul>
        </div>
        <div class="md-auto">
          <button
            class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
          >
            &#9776;
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div [ngbNavOutlet]="nav" id="navOutlet" class="mt-2"></div
></span>
<div *ngIf="!isContentShown">
  <router-outlet></router-outlet>
</div>

<app-footer> </app-footer>
