<!--padding for floating header-->
<span *ngIf="isContentShown">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</span>
<div class="container-fluid">
  <div class="topbar row">
    <div class="accessibility-tools col">
      <a href="#navOutlet" class="skip-to-main-content-link"
        >Skip to main content</a
      >
    </div>
  </div>
</div>

<span *ngIf="isContentShown">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 navigation">
    <div class="container-fluid">
      <span *ngIf="isMobileLayout" class="col-sm-3">
        <img
          class="logo"
          src="../assets/logo.png"
          alt="Neurodiversit in Buisness Logo"
        />
      </span>

      <div *ngIf="!isMobileLayout" class="col-sm-3">
        <img
          class="logo"
          src="../assets/logo.png"
          alt="Neurodiversit in Buisness Logo"
        />
      </div>
      <div class="col" style="text-align: right">
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
          <ul
            ngbNav
            [ngbCollapse]="isMenuCollapsed"
            #nav="ngbNav"
            [(activeId)]="navActiveId"
            class="nav"
          >
            <li [ngbNavItem]="1">
              <button ngbNavLink>Home</button>
              <ng-template ngbNavContent> <app-home></app-home></ng-template>
            </li>
            <li [ngbNavItem]="2">
              <button ngbNavLink>About Us</button>
              <ng-template ngbNavContent> <app-about></app-about></ng-template>
            </li>
            <li [ngbNavItem]="3">
              <button ngbNavLink>Become A Member</button>
              <ng-template ngbNavContent>
                <app-member-start></app-member-start
              ></ng-template>
            </li>
            <li [ngbNavItem]="4">
              <button ngbNavLink>Research</button>
              <ng-template ngbNavContent>
                <app-research></app-research
              ></ng-template>
            </li>
            <li [ngbNavItem]="5">
              <button ngbNavLink>Volunteer With Us</button>
              <ng-template ngbNavContent>
                <app-volunteer-start></app-volunteer-start
              ></ng-template>
            </li>
            <li [ngbNavItem]="6">
              <button ngbNavLink>ND Resource Hub</button>
              <ng-template ngbNavContent> <app-hub></app-hub></ng-template>
            </li>
            <li [ngbNavItem]="7">
              <button ngbNavLink>Contact Us</button>
              <ng-template ngbNavContent>
                <app-contact-us></app-contact-us
              ></ng-template>
            </li>
          </ul>
        </div>
        <div class="md-auto">
          <button
            class="navbar-toggler"
            type="button"
            (click)="isMenuCollapsed = !isMenuCollapsed"
          >
            &#9776;
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div [ngbNavOutlet]="nav" id="navOutlet" class="mt-2"></div
></span>
<span *ngIf="!isContentShown">
  <router-outlet></router-outlet>
</span>
<br />
<app-footer> </app-footer>
