img {
    height: auto;
    width: 141px;
    max-width: 100%;
    border: none;
    vertical-align: middle;
    display: inline-block;
    border-radius: 0;
    box-shadow: none;}



    .list-content {
        align:left;
    }