ul {
  list-style: none;
}

li {
  display: inline-block;

  margin-right: 10px;
}

.navigation button {
  font-weight: bold;
}

button:hover,
button:focus {
  background-color: purple;
  color: aliceblue;
  font-weight: bold;
}

img {
  height: auto;
  width: 141px;
  max-width: 100%;
  border: none;
  vertical-align: middle;
  display: inline-block;
  border-radius: 0;
  box-shadow: none;
}

.list-content {
  align: left;
}

.topbar {
  text-align: right;
}

.accessibility-tools {
  text-align: left;
}

.fa-facebook,
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter,
.fa-twitter-square {
  color: #00aced;
}

.fa-youtube,
.fa-youtube-play,
.fa-youtube-square {
  color: #bb0000;
}

.fa-linkedin,
.fa-linkedin-square {
  color: #007bb6;
}
.fa-instagram {
  color: #517fa4;
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

button {
  color: #0869f8;
}
