ul {
  list-style: none;
}

li {
  display: inline-block;

  margin-right: 10px;
}

button:hover,
button:focus {
  background-color: purple;
  color: aliceblue;
  font-weight: bold;
}

img.logo {
  height: auto;
  width: 141px;
  max-width: 100%;
  border: none;
  vertical-align: middle;
  display: inline-block;
  border-radius: 0;
  box-shadow: none;
}

.list-content {
  align: left;
}

.topbar {
  text-align: right;
}

.accessibility-tools {
  text-align: left;
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

button {
  color: #0869f8;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navigation button {
  font-weight: bold;
}
