<div class="container-fluid" *ngIf="showContent">
  <div class="row">
    <h1 id="pageHeader">Membership Zone</h1>
  </div>
  <p>
    Neurodiversity in Business (NiB) will recognise three main types of
    membership:
  </p>
</div>

<div class="container" *ngIf="showContent">
  <div class="row">
    <div class="col button-blurb">
      <h3>
        <svg
          tabindex="-1"
          height="88px"
          width="88px"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 28.832 28.832"
          xml:space="preserve"
        >
          <g>
            <path
              style="fill: #010002"
              d="M11.98,5.373c0-1.584,1.284-2.869,2.869-2.869s2.869,1.284,2.869,2.869s-1.284,2.869-2.869,2.869
            S11.98,6.957,11.98,5.373z M15.716,15.621c0.616-0.658,1.479-1.075,2.575-1.245c0.249-0.038,0.513-0.061,0.786-0.077
            c0.088-0.003,0.171-0.012,0.259-0.012h1.707c-1.253-0.521-2.141-1.761-2.141-3.203c0-0.575,0.143-1.12,0.394-1.596
            c-0.89-0.325-1.711-0.32-1.711-0.32h-5.753c-0.643,0.015-1.183,0.096-1.636,0.23c0.281,0.5,0.442,1.076,0.442,1.686
            c0,1.442-0.887,2.681-2.142,3.203h1.412c0.017-0.002,0.033-0.002,0.051-0.002c0.1,0,0.209,0.004,0.319,0.012
            c0.235,0.017,0.492,0.053,0.758,0.107c1.444,0.303,3.186,1.253,3.379,3.527l0.002,0.051v1.774h0.362l0.002-1.774
            C14.779,17.957,14.729,16.675,15.716,15.621z M6.993,13.983c1.582,0,2.869-1.287,2.869-2.871S8.575,8.243,6.993,8.243
            c-1.584,0-2.869,1.285-2.869,2.869C4.124,12.695,5.41,13.983,6.993,13.983z M9.728,14.908H3.976
            c-4.118,0.076-3.975,3.103-3.975,3.103L0,25.067h0.004c0,0.017-0.003,0.035-0.003,0.05c0,0.67,0.545,1.211,1.213,1.211
            c0.669,0,1.209-0.541,1.209-1.211c0-0.016-0.002-0.033-0.005-0.05h0.005v-6.532h0.758l-0.006,6.958l7.266,0.006l-0.006-6.996h0.786
            v6.563h0.004c0,0.003,0,0.006,0,0.01c0,0.669,0.541,1.211,1.207,1.211c0.669,0,1.211-0.542,1.211-1.211c0-0.004,0-0.007,0-0.01
            V18.01C13.378,14.861,9.728,14.908,9.728,14.908z M22.185,13.982c1.585,0,2.87-1.285,2.87-2.87s-1.285-2.87-2.87-2.87
            s-2.87,1.285-2.87,2.87C19.316,12.697,20.6,13.982,22.185,13.982z M24.921,14.908h-5.754c-4.119,0.076-3.973,3.103-3.973,3.103
            l-0.002,7.056h0.005c0,0.017-0.003,0.035-0.003,0.05c0,0.67,0.544,1.211,1.212,1.211c0.669,0,1.208-0.541,1.208-1.211
            c0-0.016-0.003-0.033-0.004-0.05h0.004v-6.532h0.76l-0.009,6.958l7.266,0.006l-0.006-6.996h0.786v6.563h0.002
            c0,0.003,0,0.006,0,0.01c0,0.669,0.542,1.211,1.21,1.211c0.667,0,1.209-0.542,1.209-1.211c0-0.004,0-0.007,0-0.01V18.01
            C28.57,14.861,24.921,14.908,24.921,14.908z"
            />
          </g>
        </svg>
        <br />Community Partners
      </h3>
      <p class="inner-text">
        Community Partners For organisations who are ND Specialists (provide an
        ND related service), advocacy groups or charities
      </p>
      <p class="btn-holder">
        <button style="height: min-content" (click)="navigateToForm('member')">
          Find out More
        </button>
      </p>
    </div>
    <div class="col button-blurb">
      <h3>
        <svg
          tabindex="-1"
          xmlns="http://www.w3.org/2000/svg"
          width="88"
          height="88"
          fill="currentColor"
          class="bi bi-building"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"
          />
          <path
            d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z"
          />
        </svg>
        <br />
        Corporates
      </h3>
      <p class="inner-text">
        Businesses or corporations who want to focus on building neuroinclusive
        workplaces inside their own business
      </p>
      <p class="btn-holder">
        <button style="height: min-content" (click)="navigateToForm('corp')">
          Find out More
        </button>
      </p>
    </div>
    <div class="col button-blurb">
      <h3>
        <svg
          tabindex="-1"
          xmlns="http://www.w3.org/2000/svg"
          width="88"
          height="88"
          fill="currentColor"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          />
        </svg>
        <br />
        Individual
      </h3>
      <p class="inner-text">
        For individuals in the ND community who are not representing a corporate
        or a community partner
      </p>
      <p class="btn-holder">
        <button
          style="height: min-content"
          (click)="navigateToForm('individual')"
        >
          Find out More
        </button>
      </p>
    </div>
  </div>
</div>
<br />

<div class="container-fluid" *ngIf="showContent">
  <div class="row">
    <h2>Membership Includes</h2>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Monthly Workshops</h5>
          <p class="card-text">
            Key topics/stories from journeys of select companies/individuals
            will be shared and debated. These will be both physical and online
            depending on the circumstances.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Half-Yearly</h5>
          <p class="card-text">
            Conferences, to bring the “great and good” from the neurodivergent
            community together to aid collaboration and drive forward change.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Sharing of industry good practice</h5>
          <p class="card-text">
            Supporting the development of educational materials for training of
            staff, including managers training, recruitment, employee retention.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Mentoring programmes</h5>
          <p class="card-text">
            Where neurodivergent individuals will be able to seek advice on
            starting, running and developing their business, using advice from
            other experienced neurodivergent business owners; or for managers
            (both Neurodivergent and Neurotypical) considering how to best
            manage their teams.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<div class="container-fluid" *ngIf="showContent">
  <div class="row">
    <h2>Resources</h2>
  </div>

  <div class="container" style="text-align: center">
    <div class="row">
      <div class="col button-blurb">
        <h3>Resources and Learning Materials</h3>
        <p class="inner-text">
          Here we upload all learning materials that NiB and our member
          organisations have created to help build a better understanding for
          creating an ND friendly workspace
        </p>
        <p class="col btn-holder">
          <button style="height: min-content" (click)="navigateToHub()">
            Resource Hub
          </button>
        </p>
      </div>
      <div class="col button-blurb">
        <h3>Events</h3>
        <p class="inner-text">
          Here you will find all information you need to learn about the events,
          courses and meet-ups NiB plans to host in the future.
        </p>
        <p class="col btn-holder">
          <button style="height: min-content" (click)="navigateToEvents()">
            Events
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="showOrgForm">
  <div class="row">
    <h1 id="pageHeader">Partner Member Signup</h1>
  </div>
</div>
<div class="container-fluid" *ngIf="showCorpForm">
  <div class="row">
    <h1 id="pageHeader">Corporates</h1>
  </div>
  <app-corp-form></app-corp-form>
</div>
<div class="container-fluid" *ngIf="showIndividualForm">
  <div class="row">
    <h1 id="pageHeader">Individual Member Signup</h1>
  </div>
  <ngb-alert [type]="'light'" [dismissible]="false">
    <p style="font-weight: bold">
      Thousands of individual supporters of NiB are already receiving our
      regular member newsletter to keep in touch with our latest activities.
      Join our mailing list by completing the form below to hear about events,
      thought pieces and other relevant content.
    </p></ngb-alert
  >

  <app-individual-form></app-individual-form>
</div>
<br />
