.danquote {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

#introText {
  text-align: left;
}


h1, h2 {
    font-family: "Montserrat", Sans-serif;
    background: #9b51e0;
    color: white;
    font-style: bold;
  }

