<hr />
<div class="container-fluid" style="text-align: center">
  <div class="row">

      <h1>Neurodiversity in Business (NiB)</h1>

  </div>

  <div class="row">
    <div class="col">
      <p id="introText">
        Welcome to NiB (Neurodiversity in Business). We are a business forum and
        industry group for organisations to share industry good practice on
        ND recruitment, retention and empowerment. We want to support businesses
        in building a better workplace for Neurodivergent employees, access
        Neurodivergent talent and support Neurodivergent people to navigate
        independent, fulfilling careers. We currently count many of the UK’s
        leading employers among our members and are supported by leading
        thinkers in Neurodiversity. NiB is a voluntary forum, with no membership
        fees. Our aim is to work collaboratively with our members to improve
        conditions for Neurodivergent people in employment.
      </p>
    </div>

    <div class="col">
      <iframe
        title="Neurodiversity in Buisness outube Introduction with Dan Harris"
        width="420"
        height="315"
        src="https://www.youtube.com/embed/Bmn2JMVcACQ"
      >
      </iframe>
    </div>
  </div>
</div>
<hr hr />
<app-company-logos-carosel></app-company-logos-carosel>
<app-community-logos-carosel></app-community-logos-carosel>
<hr hr />
<div class="container-fluid">
  <i class="fas fa-quote-left fa-xs text-primary"></i>
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <ngb-alert type="info" closed="false" [dismissible]="false">
        <p class="danquote">
          "Ultimately, NiB's goal is to improve the working lives of
          neurodivergent people, helping to unlock the unique and innovative
          contribution they can bring to the business world and society"
        </p>

        <p>
          ~<a style="color: #0061f0" target="_blank" href="https://uk.linkedin.com/in/danjharris"
            >Dan Harris</a
          >
        </p>
      </ngb-alert>
    </div>
  </div>
</div>

<hr />
<div class="container-fluid">
  <div class="row">
    <h2>Who We Are</h2>
  </div>
  <div class="row">
    <div class="col">
      <object
        data="../../assets/buisness.svg"
        width="200"
        height="200"
      ></object>

      <h3>Voluntary Industry Body</h3>
      <p>
        NiB is a voluntary forum. We are not seeking costly corporate
        relationships.
      </p>
    </div>
    <div class="col">
      <object
        data="../../assets/networking.svg"
        width="200"
        height="200"
      ></object>
      <h3>ND Advocacy and Expert Groups</h3>
      <p>
        We will utilise our network of experts and organisations, bringing the
        best to our membership.
      </p>
    </div>
    <div class="col">
      <object
        data="../../assets/group-of-people.svg"
        width="200"
        height="200"
      ></object>
      <h3>Existing ND Groups</h3>
      <p>
        NiB will continue to collaborate and support some of the great ND
        awareness and advocacy groups operating in the ecosystem.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h2>We Will Support</h2>
  </div>
  <div class="row">
    <div class="col">
      <h3>Employers</h3>
      <p>
        Create awareness as to the benefits and strengths of neurodiversity in
        the workplace.
      </p>
    </div>
    <div class="col">
      <h3>The Neurodivergent</h3>
      <p>
        Empowerment, recognition, help and guidance to navigate a
        successful, happy and independent career path.
      </p>
    </div>
    <div class="col">
      <h3>The Neurotypical</h3>
      <p>
        To have a better understanding and facilitate allyship and respect
        with neurodivergent colleagues.
      </p>
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
